<header>
    <div class="top-bar-sticky-wrapper">
        <div class="top-bar">
            <div onclick="toggleNav()" class="hamburger">
                <div id="ham--line1" class="ham--line-1"></div>
                <div id="ham--line2" class="ham--line-2"></div>
                <div id="ham--line3" class="ham--line-3"></div>
            </div>
            <h2 id="title" class="title">AULA C1BER</h2>
        </div>
    </div>
    <nav id="sidenav" class="sidenav">
        <img src="/assets/img/aula_ciber-logo.png" alt="ziur-ehu" class="nav--aula-ciber-logo">
        <a href="#">ABOUT</a>
        <a href="/blog/">BLOG</a>
        <a href="#">CONTACT</a>
        <br>
        <select name="lang" id="lang" class="lang-select">
            <option value="es">SPANISH</option>
            <option value="en">ENGLISH</option>
        </select>
    </nav>
    <div id="navOverlay" class="nav-overlay"></div>
</header>